<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="System.Resources.Extensions" version="4.6.0" targetFramework="net472" />
  <package id="AForge" version="2.2.5" targetFramework="net472" />
  <package id="AForge.Video" version="2.2.5" targetFramework="net472" />
  <package id="AForge.Video.DirectShow" version="2.2.5" targetFramework="net472" />
  <package id="BarcodeLib" version="3.1.5" targetFramework="net472" />
  <package id="Guna.UI2.WinForms" version="2.0.4.7" targetFramework="net472" />
  <package id="MessagingToolkit.Barcode" version="1.7.0.2" targetFramework="net472" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.2" targetFramework="net472" />
  <package id="Microsoft.Bcl.HashCode" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Report.Viewer" version="11.0.0.0" targetFramework="net472" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.1652.0" targetFramework="net472" />
  <package id="Microsoft.ReportViewer" version="11.0.3366.16" targetFramework="net472" />
  <package id="Microsoft.ReportViewer.Windows" version="11.0.3452" targetFramework="net472" />
  <package id="Microsoft.SqlServer.Server" version="1.0.0" targetFramework="net472" />
  <package id="Microsoft.SqlServer.Types" version="170.1000.7" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.135" targetFramework="net472" />
  <package id="SkiaSharp" version="3.119.1" targetFramework="net472" />
  <package id="SkiaSharp.NativeAssets.Linux.NoDependencies" version="3.119.1" targetFramework="net472" />
  <package id="SkiaSharp.NativeAssets.macOS" version="3.119.1" targetFramework="net472" />
  <package id="SkiaSharp.NativeAssets.Win32" version="3.119.1" targetFramework="net472" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.119.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="10.0.2" targetFramework="net472" />
  <package id="System.Data.SQLite" version="2.0.2" targetFramework="net472" />
  <package id="System.Drawing.Common" version="10.0.2" targetFramework="net472" />
  <package id="System.Formats.Nrbf" version="10.0.2" targetFramework="net472" />
  <package id="System.IO.Pipelines" version="10.0.2" targetFramework="net472" />
  <package id="System.Memory" version="4.6.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net472" />
  <package id="System.Reflection.Metadata" version="10.0.2" targetFramework="net472" />
  <package id="System.Resources.Extensions" version="10.0.2" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="10.0.2" targetFramework="net472" />
  <package id="System.Text.Json" version="10.0.2" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net472" />
  <package id="Tulpep.NotificationWindow" version="1.1.38" targetFramework="net472" />
  <package id="ZXing.Net" version="0.16.11" targetFramework="net472" />
</packages>